{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        com.taoensso/nippy {:mvn/version "3.1.1"}
        io.replikativ/datahike {:mvn/version "0.4.1484"}
        io.replikativ/superv.async {:mvn/version "0.2.11"}
        org.apache.pulsar/pulsar-client {:mvn/version "2.7.0"}}

 :mvn/repos {#_GUIX_MAVEN_INPUTS}
 
 :aliases {:build {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
                   :exec-fn hf.depstar/jar
                   :exec-args {:jar "datahike-pulsar.jar"
                               :sync-pom false
                               :pom-file "pom.xml"
                               :artifact-id "datahike-pulsar"
                               :group-id "arctype"
                               :version "0.1.0"}}

           :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :local
                                 :artifact "datahike-pulsar.jar"}}}}
